
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  padding: 0 1rem;
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #666;
}

h4 {
  background-color: #f4f4f4;
}

.header {
  background-color: #97f194;
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;

}

.form {
  display: flex;
  width: 100%;
  border-color: black;
}

.btnStyle{
background-color: #030000;
color: #fff;
border: none;
padding: 5px 9px;
border-radius: 0%;
cursor: pointer;
float: right
}

.note{
  background: #f4f4f4;
  padding: 4px;
  border-bottom: 1px #ccc solid;
  margin: 0;
  font-family: 'Indie Flower', cursive;
}